body{
    background-color: black !important;
    color: white !important;
}

#navbar{
    background-color: red;
    margin-bottom: 5em;

}

#div-nav{
    display: flex;
    justify-content: space-around;
    background-color: grey;
}

#lista-nav{
    background-color: orange;
}

.nav-item{
    border: 2px solid green;
    margin-right: 10px;
}

.nav-link{
    background-color: brown;
}



#grid-calculadora{
    background-color: black;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    width: 30em;
    height: auto;
}

#resultado-calculadora{
    border-radius: 5px;
    margin: 10px auto;
}

#tela-resultado {
    font-size: 30px;
    font-weight: bold;
    text-align: end;
    color: black;
    padding: auto;
    margin: 0 auto;
    height: 100%;
    background-color: orangered;
    width: 100%;
}

/* Formatação de todos os botões */
.botoes{
    margin: 1px auto;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
}

/* Botoes de operação */
.btn-operacao{
    background-color: orange;
}

/* Botoes de numeros */
.btn-numeros{
    background-color: grey;
}

#btn-resultado{
    background-color: orangered;
    color: white;
}

.resultado{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}